/HW1/.idea/HW1.iml
/HW1/.idea/misc.xml
/HW1/.idea/workspace.xml
/HW1/__pycache__/dqn_model.cpython-36.pyc
/HW1/data/processed/test.pt
/HW1/data/processed/training.pt
/HW1/data/raw/t10k-images-idx3-ubyte
/HW1/data/raw/t10k-labels-idx1-ubyte
/HW1/data/raw/train-images-idx3-ubyte
/HW1/data/raw/train-labels-idx1-ubyte
/HW1-Tsuf/.idea/HW1.iml
/HW1-Tsuf/.idea/misc.xml
/HW1-Tsuf/.idea/modules.xml
/HW1-Tsuf/.idea/workspace.xml
/HW1-Tsuf/__pycache__/dqn_model.cpython-36.pyc
/HW1-Tsuf/data/processed/test.pt
/HW1-Tsuf/data/processed/training.pt
/HW1-Tsuf/data/raw/t10k-images-idx3-ubyte
/HW1-Tsuf/data/raw/t10k-labels-idx1-ubyte
/HW1-Tsuf/data/raw/train-images-idx3-ubyte
/HW1-Tsuf/data/raw/train-labels-idx1-ubyte
/HW2-Tsuf/.idea/HW1.iml
/HW2-Tsuf/.idea/misc.xml
/HW2-Tsuf/.idea/modules.xml
/HW2-Tsuf/.idea/workspace.xml
/HW2-Tsuf/__pycache__/DataHandler.cpython-36.pyc
/HW2-Tsuf/__pycache__/model.cpython-36.pyc
/HW2-Tsuf/__pycache__/utils.cpython-36.pyc
